<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 创建一个由spring提供的流程引擎的配置对象 -->
  <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    <!--关联公共数据源，不需要手动编写数据源-->
    <property name="dataSource" ref="dataSource"></property>
    <property name="transactionManager" ref="tx"></property>
     <!-- 设置数据库schema的更新方式, 没有数据库的表可以自动创建-->
    <property name="databaseSchemaUpdate" value="true"/>
     <!-- 是否启动jobExecutor -->
    <property name="jobExecutorActivate" value="false"/>
  </bean>
  <!-- 创建一个流程引擎bean -->
  <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
    <!--加载配置得到工作引擎对象-->
    <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
  </bean>
  <!--定义工作流Service服务-->
   <!-- 工作流仓储服务 -->
  <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
  <!-- 工作流运行服务 -->
  <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
   <!--  工作流任务服务-->
  <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <!--  工作流历史数据服务-->
  <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
  <!--  工作流管理服务-->
  <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
   <!-- 工作流唯一服务 -->
  <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService"/>
  <bean id="formService" factory-bean="processEngine" factory-method="getFormService"></bean>
<!--上面的内容就是工作流引擎持久层+服务层的配置-->
</beans>